<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="DynamicData" version="4.3.1.1090" targetFramework="net452" />
  <package id="Fody" version="1.29.2" targetFramework="net452" developmentDependency="true" />
  <package id="PixelLab.BOT" version="6.0.2" targetFramework="net452" />
  <package id="PixelLab.Common" version="6.0.2" targetFramework="net452" />
  <package id="PixelLab.Core" version="6.0.2" targetFramework="net452" />
  <package id="Prism" version="4.1.0.0" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="1.50.4" targetFramework="net452" developmentDependency="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
</packages>